@media screen and (min-width: 1440px) {
    .menu {
        position: static;
        width: 100%;
        height: auto;
        padding: 0;
        .btn-close {
            display: none;
        }
    }
    .menu-wrapper {
        // border: 1px solid white;
        background: transparent;
        box-shadow: none;
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        .menu-items-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
        }
        .menu-items {
            position: relative;
            // width: 100%;
            .menu-heading {
                display: flex;
                align-items: center;
                justify-content: center;
                h4 {
                    color: #fff;
                    font-size: 20px;
                    padding: 20px 0;
                    opacity: 0.7;
                    //margin-top: 50px;
                    cursor: pointer;
                    transition-duration: 0.5s;
                }
                .dropdown {
                    opacity: 0.7;
                    filter: brightness(200);
                    margin-left: 16px;
                    transition: all ease-in 1s;
                    -webkit-transition: all ease-in 1s;
                    -moz-transition: all ease-in 1s;
                    -ms-transition: all ease-in 1s;
                    -o-transition: all ease-in 1s;
                    -webkit-filter: brightness(200);
                }
                // .sub-menu {
                //     display: flex;
                // }
            }
            &:hover {
                h4 {
                    color: #fff;
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    font-weight: 600;
                    text-decoration: underline;
                    opacity: 1;
                }
                // .sub-menu {
                //     display: flex;
                // }
                .dropdown {
                    opacity: 1;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
            }
            // .sub-menu:last-of-type {
            //     padding-bottom: 20px;
            // }
        }
        hr {
            display: none;
        }
        .btn-menu-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .btn {
                // border: 1px solid $grayish-blue;
                // height: 70px;
                // width: 140px;
                transition-duration: 0.5s;
                padding: 0 50px;
                line-height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border: 1px solid #fff;
                font-weight: 700;
                border-radius: 5rem;
                -webkit-border-radius: 5rem;
                -moz-border-radius: 5rem;
                -ms-border-radius: 5rem;
                -o-border-radius: 5rem;
                font-size: 18px;
                margin: 10px 0;
                &:hover {
                    background: #fff;
                    color: $grayish-blue;
                    border: none;
                }
            }
            .btn-login {
                margin-right: 30px;
            }
        }
    }
    .sub-menu {
        position: absolute;
        align-items: flex-start;
        background: #fff;
        // width: 100%;
        // border-radius: 5px;
        // -webkit-border-radius: 5px;
        // -moz-border-radius: 5px;
        // -ms-border-radius: 5px;
        // -o-border-radius: 5px;
        padding: 24px;
        a {
            padding: 10px 0;
            font-size: 18px;
            // display: block;
            color: $grayish-blue;
            font-weight: 400;
            transition-duration: 0.5s;
            &:hover {
                color: $head-clr;
                font-weight: 700;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
            }
        }
        display: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2);
    }
    .menu-hide {
        left: 0;
        opacity: 1;
    }
    .bars {
        display: none;
    }
    .container {
        background: #fff;
    }
    .hero {
        // height: 600px;
        width: 100%;
        // border: 1px solid #000; //temporary
        // bg image
        // background: linear-gradient(90deg, $grad1, $grad2);
        background: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(90deg, $grad1, $grad2);
        background-size: 230%, 100%;
        background-position: 30% 50%, 0% 0%;
        background-repeat: no-repeat;
        border-bottom-left-radius: 100px;
        padding: 60px 60px 0 60px;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 75px;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 130px;
    }
    .hero-text h1 {
        color: #fff;
        font-size: 60px;
        text-align: center;
        padding-bottom: 30px;
        font-weight: 700;
    }
    .hero-text h2 {
        color: #fff;
        font-size: 30px;
        font-family: "Overpass", sans-serif;
        font-weight: 300;
        text-align: center;
    }
    .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        width: 40%;
        padding-bottom: 150px;
    }
    .btn-wrapper .btn {
        border: 1px solid #fff;
        // height: 70px;
        // width: 140px;
        transition-duration: 0.5s;
        padding: 0 40px;
        line-height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        -ms-border-radius: 5rem;
        -o-border-radius: 5rem;
        &:hover {
            color: $hover-clr;
            background: #fff;
            border: none;
        }
    }
    .two {
        position: relative;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 0 100px 225px 100px; // padding: 0 40px;
        .main-heading {
            color: $head-clr;
            font-size: 45px;
            padding-top: 100px;
            padding-bottom: 50px;
            font-family: "Overpass", sans-serif;
            font-weight: 600;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            overflow: hidden;
            img.editor-mobile {
                // margin-top: 60px;
                // width: 100%;
                // margin-bottom: 80px;
                display: none;
            }
            img.editor-desktop {
                position: absolute;
                left: 60%;
                top: 8%;
                width: 62%;
            }
            .text-block {
                text-align: left;
                width: 45%;
                margin-top: 130px;
                .editor {
                    color: $head-clr;
                    font-size: 30px;
                    padding: 0 6px;
                    font-family: "Overpass", sans-serif;
                    font-weight: 600;
                }
                .editor-info {
                    margin-top: 40px;
                    font-size: 20px;
                    padding: 0 0px;
                    margin-bottom: 60px;
                }
                .management {
                    color: $head-clr;
                    font-size: 30px;
                    padding: 0 5px;
                    font-family: "Overpass", sans-serif;
                    font-weight: 600;
                }
                .manage-info {
                    margin-top: 40px;
                    font-size: 20px;
                    padding: 0 0px;
                    margin-bottom: 80px;
                }
            }
        }
    }
    .four {
        position: relative;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 300px 100px 100px 100px;
        // padding: 0 40px;
        .main-heading {
            color: $head-clr;
            font-size: 30px;
            padding-top: 100px;
            font-family: "Overpass", sans-serif;
            font-weight: 600;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            img.laptop-mobile {
                // margin-top: 60px;
                // width: 140%;
                // margin-bottom: 80px;
                display: none;
            }
            img.laptop-desktop {
                position: absolute;
                right: 60%;
                top: 8%;
                width: 62%;
            }
            .text-block {
                text-align: right;
                width: 45%;
                .free {
                    color: $head-clr;
                    font-size: 30px;
                    padding: 0 6px;
                    font-family: "Overpass", sans-serif;
                    font-weight: 600;
                }
                .free-info {
                    margin-top: 40px;
                    font-size: 20px;
                    padding: 0 0px;
                    margin-bottom: 60px;
                }
                .tool {
                    color: $head-clr;
                    font-size: 30px;
                    padding: 0 6px;
                    font-family: "Overpass", sans-serif;
                    font-weight: 600;
                }
                .tool-info {
                    margin-top: 40px;
                    font-size: 20px;
                    padding: 0 0px;
                    margin-bottom: 80px;
                }
            }
        }
    }
    .three {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid red;
        padding-top: 200px;
    }
    .body-copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        margin-bottom: 100px;
        // border: 1px solid green;
        // height: 62.5rem;
        background-image: url("../images/bg-pattern-circles.svg"), linear-gradient($grad3, $grad4);
        background-size: 163%, 100%;
        background-position: -90px -230px, 0% 0%;
        background-repeat: no-repeat, no-repeat;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
        img {
            position: absolute;
            top: -76px;
            left: 30px;
            width: 50%;
        }
        .text-wrapper {
            width: 45%;
        }
        .body-copy-text {
            width: 100%;
            // text-align: left;
            // margin-left: 310px;
            .art-heading {
                color: #fff;
                font-family: "Overpass", sans-serif;
                font-weight: 300;
                font-size: 35px;
                text-align: left;
                padding-top: 230px;
                padding-bottom: 30px;
            }
            .art-info {
                color: #fff;
                // margin-bottom: 120px;
                font-size: 20px;
                font-weight: 400;
                text-align: left;
                line-height: 30px;
                padding: 0 65px 0 0;
            }
        }
    }
}